#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{
    color: rgba(21, 255, 255, 0.514);
    background-color: rgb(20, 20, 100);
}
